@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
	font-family: "Lato";
	background-color: #ECF0F1;
}
a {
	color: #4F517D;
}

#search-field {
    height: 38px;
    display: inline-block;
/*    float: left;*/
width: calc(100% - 200px);
}



.search-field2 {
	float: left;
}
.btn {
    display: inline-block;
}
.btn-social.btn-new-facebook i {
background: #27429c;
font-size: 20px;
color: #fff;
}

.btn-social.btn-new-facebook {
	box-shadow: 0 2px 0 0 #344984;
}
.btn-social i {
line-height: 52px;
height: 52px;
display: table-cell;
vertical-align: middle;
width: 54px;
color: #fff;
box-shadow: 0 2px 0 0 #364b80;
float: left;
border: 0;
}

@media (min-width: 768px) {
.btn-social i {
width: 17.5%;
}
}
.icon-facebook:before {
content: "\f09a";
}
.yellow-button {
	vertical-align: top;
	/*width: 100%;*/
	padding: 0;
	font-size: 18px;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
	background: #f1c40f;
	border: 0;
	border-bottom: 2px solid #e2b607;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #e2b607;
	box-shadow: inset 0 -2px #e2b607;
/*	font-family: "open-sans-regular";*/
	display: block;
	margin: auto;
	border-radius: 3px;
	line-height: 34px;
	height: 38px;
	font-weight: bold;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    position: relative;
    float: right; 
}
.search-button {
    max-width: 200px;
}

.search-field {
    width: calc(100% - 100px);
}

.signup {
    top: -5px;
    padding: 0 20px;
}
.logintop {
    font-size: 20px;
}
.fa-bars {
    padding-right: 0px;
}
    


.navigation{
    float: right;
    position: absolute; 
    right: 10px; 
    color: #666; 
    top: 20px; 
} 
.navigation_elem {
    float: left;
    margin-right: 30px;
}
/*
.navigation {
    padding: 50px;
}
*/

.social p {
	position: relative;
	top: 6px;
	left: 10px;
}
.social button{
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	height: 50px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: 600;
	border-radius: 3px;
}
/*.social button {
	padding: 5px;
}*/
.fa-google-plus,
.fa-facebook {
	position: absolute;
	left: 27px;
	color: white;
}
.btn-facebook {
	background-color: #3151bd;
	text-shadow: 0 3px 0 #354a82;
	box-shadow: 0 3px 0 0 #344984;
}
.btn-facebook:focus,
.btn-facebook:hover {
	color: white;
	background-color: #3050a9;
}
.btn-gplus {
	background-color: #d24918;
	text-shadow: 0 3px 0 #a5471c;
	box-shadow: 0 3px 0 0 #a74611;
}
.btn-gplus:focus,
.btn-gplus:hover {
	color: white;
	background-color: #be4718;
}
.btn-gplus {
	background-color: #d24918;
	text-shadow: 0 3px 0 #a5471c;
	box-shadow: 0 3px 0 0 #a74611;
}
.btn-register {
	width: 100%;
	max-width: 1000px;
	height: 50px;
	font-size: 20px;
/*	padding-top: 20px;
	padding-bottom: 20px;*/
}
.bottomtext {
	padding: 20px;
	padding-top: 60px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

.bottomtext2 {
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}
.bottomlinks {
	padding-right: 0px;
	padding-left: 0px;
}

form .input-icon {
position: relative;
margin-bottom: 14px;
display: block;
}



form .input-icon i {
position: absolute;
 top: 13px;
 left: 11px;
 color: #888;
 font-family: 20px;
}

form .input-icon .fa-user {
left: 14px;
}

form .input-icon .fa-lock {
left: 16px;
}


form .input-icon span {
position: absolute;
left: 48px;
top: 16px;
border-right: 1px solid #ddd;
height: 20px;
display: block;
}

form .input-icon textarea,
form .input-icon input, 
form .input-icon .input-field textarea, 
form .input-field .input-icon textarea {
color: #888;
font-size: 15px;
padding-left: 64px;
width: 100%;
height: 52px;
border: 1px solid #e7e7e7;
background: #f6f6f6;
border-radius: 4px;
line-height: 18px;
}

.modal-header {
	background-color: #eee;
}
#myModalLabel {
	font-size: 20px;
}

.dropdown ul p {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	
}
.dropdown ul li {
	border-bottom: 1px solid #eee;
}

.dropdown li.social a {
padding: 0px;
display: inline-block;
margin: 0 3px;
text-decoration: none;
border-radius: 50%;
height: 32px;
width: 32px;
color: #FFF;
text-align: center;
position: relative;
}
.dropdown li.social {
	text-align: center;
	margin-top: 5px;
}
.dropdown li.social a.facebook {
	background-color: #3a589b;
}

.dropdown li.social a.twitter {
	background-color: #3cf;
	position: relative;
	top: -8px;
}
.dropdown li.social a.gplus {
	background-color: #df4a32;
}

.dropdown li.social a.facebook .fa-facebook {
	top: 5px;
	left: 6px;
}
.dropdown li.social a.gplus .fa-google-plus {
	top: 4px;
	left: 5px;
}
.dropdown li.social a.twitter .fa-twitter {
	position: relative;
	top: 3px;
	left: 0px;
}
.main-search {
	position: relative;
	left: 0px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
}

#item-wrap-inner a{
	background-color: #eee;
}
#item-wrap-inner a .item-in {
	background-color: #FFF;
}
.right {
	float: right;
	padding: 15px;
	z-index: 10;
}
.signupmain {
	position: relative;
	top: 15px;
}

.loginmain {
	z-index: 20;
}

.nav-middle {
	position: absolute;
	float: left;
	z-index: 10;
	right: calc(30% - 10px);
	/*right: 270px;*/
	display: inline-block;
	font-size: 22px;
	top: 13px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
.nav-middle a {
	margin-right: 1vw;
}

/*.middlemenu {
	height: 100%;
}*/

/*.middlemenu:hover,
.middlemenu:focus {
	background-color: #888;
}*/
/*@media (max-width: 1150px) {
	.logo-text-header {
	display: none;
}
}*/

/*.full-width.dropdown {
    position: static;
    width: 100%;
}
.full-width.dropdown > .dropdown-menu {
    left: 0;
    right: 0;
    position: absolute;
}
.full-width.dropdown > .dropdown-menu > li > a {
   white-space: normal; 
}*/
.maindropdown {
	position: relative;
	top: 41px;
	left: -100vw;
	position:absolute;
    width: 200vw; 
    height: 50px;
    text-align: center;
    font-size: 19px;
/*    margin-top: 0;
    margin-bottom: 0;*/
    padding-top: 0;
    padding-bottom: 0;
}

.maindropdown li {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	padding-top: 12px;
	height: 100%;
	padding-right: 5px;
	padding-left: 5px;
}
.maindropdown li:focus {
	background-color: #888;
}

.maindropdown li:hover {
text-decoration: underline;
}

.item-disc-price {
	display: none;
}




/*.price {
	display: inline-block;
	float: right;
	position: relative;
	top: 6px;
	right: 20px;
	font-size: 23px;
	z-index: 5;

}*/

.price {
	display: none; 
}
.cashback {
	clear: both;
	background-color: #F0F8FF;
	text-align: center;
	font-size: 19px;
	color: #f00;
	height: 40px;

}

.navlogged img {
	width: 50px;
	border: 1px solid #888;
	border-radius: 50%;
	float: right;
	display: inline-block;
	position: relative;
	top: -10px;
}

.loggedname {
	position: relative;
	left: -15px;

}

.item-title {
	height: 61px;
	font-size: 26px;
	text-align: left;
	margin-top: 0px;
	padding-top: 0px;
	color: #666;
	/*line-height: 32px;*/
	/*font-family: Lato;*/
}
.main-cashback {
	font-size: 17px;
	position: relative;
	top: -10px;
	font-weight: 700;

}
/*.item-title {
	font-size: 24px;
	height: 79px;
	line-height: 34px;
}*/

.overlay-text {
	padding-top: 10px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 63px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 22px;
	color: black;
}

.item-in {
	cursor: zoom-in;
	border-radius: 10px;
	border-radius: 5px solid black;
	border: none;
}

/*.item-overlay {
	border-radius: 50%;
}*/
.item-pic {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.itembelow {
	border: 1px solid #C0C0C0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
}
.item-title {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	/*background-color: white;*/
}
/*#item-in:hover .item-overlay { 
	opacity: 1; 
}*/

.item-pic {
	position: relative;
	overflow: auto;
	padding: 0px;
	margin: 0;
	border: 1px solid #C0C0C0;
	border-bottom: none;
}

.modal-content {
	background-color: #fff;
/*	height: 500px;
	background-image: url(http://cnet1.cbsistatic.com/hub/i/r/2014/09/15/98b70517-3a22-4e39-b48b-9bb396a23407/thumbnail/770x433/b75c788b1c8f96233658bac84d2d10d9/plutus91503.jpg);
		background-size: cover;*/
}
.popup-image {
	height: 1000px;
/*	position: relative;
    clip: rect(0px,800px,400px,510px);*/
	padding: 20px;
	margin: 5px;
	margin-right: 5px;
	width: 50%;
	background-image: url(http://cnet1.cbsistatic.com/hub/i/r/2014/09/15/98b70517-3a22-4e39-b48b-9bb396a23407/thumbnail/770x433/b75c788b1c8f96233658bac84d2d10d9/plutus91503.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.popup-content div {
	margin: 10px;
	margin-left: 0px;
}
.popup-price {
	position: relative;
	font-size: 20px;
	color: #333;
/*	margin-top: 20px;
	margin-bottom: 10px;*/
	font-size: 30px;
	/*top: 10px;*/
}

div .popup-cashback {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 30px;
}

.popup-get {
	float: left;
	font-size: 30px;
	min-width: 250px;
	height: 50px;
}

